<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/lifestylesheet.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="../controllers/login.php">
        <fieldset>
            <legend>Login</legend>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" maxlength="16"><br><br>
            <label for="pswd">Password: </label>
            <input type="password" id="pswd" name="pswd"><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>