@font-face {
  font-family: "titleFont";
  src: url(../asset/ZenDots-Regular.ttf);
}

@font-face {
  font-family: "headerFont";
  src: url(../asset/QuattrocentoSans-Bold.ttf);
}

@font-face {
  font-family: "commonFont";
  src: url(../asset/OpenSans-Regular.ttf);
}
#title {
  font-family: "titleFont";
  color: #120078;
  font-size: 72px;
  background: -webkit-linear-gradient(#fecd1a, #fd3a69, #9d0191, #120078);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.heading {
  font-family: "headerFont";
}

body {
  font-family: "commonFont";
  background: #ebebeb;
  background-image: url(../images/cells.png);
  color: #fd3a69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

button {
  border-radius: 20px;
  border: 1px solid #fd3a69;
  background: #fd3a69;
  color: white;
  font-family: "commonFont";
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: 80ms ease-in;
  min-width: 145px;
}
button:hover {
  background: #fecd1a;
  border: 1px solid #fecd1a;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}
button.ghost:hover {
  background: white;
  color: #9d0191;
}

button:disabled {
  background-color: grey;
  border: 1px solid grey;
}

/* Gameplay Design */

#golTable {
  border-collapse: collapse;
}

#options {
  flex: 7;
}

#stats {
  flex: 2;
}

#menu {
  flex: 1;
  text-align: center;
}

td {
  width: 25px;
  height: 25px;
  border: black 2px solid;
}

legend {
  font-weight: bold;
}

.stats {
  font-weight: bold;
  padding-left: 5px;
}

.numInput {
  width: 3em;
}

.hidden {
  display: none;
}

.alive {
  background-color: #fecd1a;
}

.dead {
  background-color: #120078;
}

.legend {
  height: 20px;
  width: 20px;
}

.gamearea {
  background: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 65% !important;
  max-width: 100%;
  min-height: 480px;
  padding: 10px 10px;
}

.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
}

.gameplayOverlay {
  background-color: rgba(1, 1, 1, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.leftCol {
  flex: 2;
  text-align: right;
}

.middleCol {
  margin-left: 5px;
  flex: 6;
}

.rightCol {
  flex: 1;
}

.gameplayButton {
  background-color: #9d0191;
  border-color: #9d0191;
}

/* Homepage Design */

@keyframes moveInButton {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

#user{
  margin: 15px 0 10px;
}

#welcome{
  height: 60%;
  text-align: center;
  color: #9d0191;
  font-size: 21pt;
}

#imageIcon {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 4%;
}

.lableSpace label {
  margin: 0 0 7px;
}
.content p {
  font-size: 9pt;
}
.content a {
  text-decoration: none;
  color: #fd3a69;
}

.buttons{
  margin: 20px 0 20px;
}

.buttonanimated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.homepageButton {
  font-size: 12pt;
  width: 12rem;
}

.failure {
  color: red;
}

.homepageH {
  font-weight: bold;
  margin: 0;
}

.homepageP {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 10px;
}

.homepageSpan {
  margin: 10px 0 20px;
}

.box {
  background: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-box {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-box form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-box input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login-box {
  left: 0;
  width: 50%;
  z-index: 2;
}

.signUp-box {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #9d0191;
  background: linear-gradient(45deg, #fecd1a, #fd3a69, #9d0191, #120078);
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.overlayLeft {
  transform: translateX(-20%);
}

.colorFontHomepage {
  color: #9d0191;
}

.bgColorHomepage {
  background: #9d0191;
  border: 1px solid #9d0191;
}

.col {
  flex: 2;
  text-align: center;
}

.buffcol {
 flex: 1;  
}

.loginRow {
  display: flex;
  align-items: center;
  width: 100%;
}

.loginCol {
  flex: 7;
}
.overlayRules{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlayRules:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #120078;
  border-radius: 5px;
  width: 30%;
  position: relative;
  color: #fecd1a
}

.popup .content {
  max-height: 40%;
  overflow: auto;
}

.popup .close{
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  color: #9d0191;
}

.popup .close:hover {
  color: red;
}


/* Animation */

/* Slide overlay to the right */
.box.right-panel-active .login-box {
  transform: translateX(100%);
}
/* Slide overlay to left */
.box.right-panel-active .overlay-box {
  transform: translateX(-100%);
}

/* Sign Up over Log In */
.box.right-panel-active .signUp-box {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Overlay to the back and right */
.box.right-panel-active .overlay {
  transform: translateX(50%);
}

.box.right-panel-active .overlayLeft {
  transform: translateX(0);
}

.box.right-panel-active .overlayRight {
  transform: translateX(20%);
}

