label {
    font-weight: bold;
}

.row {
    display: flex;
    width: 250px;
    height: 30px;
}

.lcol {
    flex: 1
}

.rcol {
    flex: 2
}

.hidden {
    display: none;
}

.error {
    color: red;
    text-decoration: underline;
}